body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:linear-gradient(90deg, rgba(224, 238, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
}

.container {
  margin-top:30px;
  width: 90%;
  height: 80%;
  max-width:1920;
}

canvas {
  width: 100%;
  height: 100%;
}

.container_summary
{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 700px;
    height:240px;
    padding:20px;
    box-shadow:2px 5px 5px 3px grey;
    border:2px solid #32a852;
    border-radius:10px;
    margin-bottom:10px;
}

.container_summary_des
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:80%;
    width:90px;
}

#time
{
    margin-top:0px;
}

.gauge_container
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:10px;
    height:120px;
    position:relative;
    left:50px;
    top:10px;
}

.progress_bar_border
{
  background-color: gray;
  width: 500px;
  height: 35px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.progress_bar_red
{
  width: 33%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(139, 0, 0, 1) 100%);
}
.progress_bar_orange
{
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 33%;
  background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgba(255, 140, 0, 1) 100%);
}
.progress_bar_green
{
  width: 34%;
  height: 100%;
  position: absolute;
  top:0;
  left: 66%;
  background: linear-gradient(90deg, rgba(50, 222, 132, 1) 0%, rgba(76, 175, 80, 1) 100%);
}
.progress_bar_needle
{
  position:absolute;
  top: -10px;
  left: 50px;
  width: 10px;
  height: 30px;
  background-color: rgb(25, 25, 26);
  border:1px solid white;
  border-radius: 10px;
  transform-origin: 50% 100%;
  transition: left 0.5s ease;
}
.progress_bar_red p, .progress_bar_orange p, .progress_bar_green p
{
  text-align: center;
  padding:0px;
  margin:10px;
  color:black;
}

#time
{
    color:#4a4a4f;
}

#gaugetitle
{
    margin:0px;
    margin-bottom:8px;
    padding:0px;
    font-weight:bold;
    font-size:12pt;
}
#avg_eye_close
{
    color:#49494d;
}